/*///MAIN CONTAINER///*/
.slider {
    display: flex;
    align-items: center;
    margin: 20px;

    /*esto es lo que cambia cuando hace INVIEW*/
    opacity: 0;
    transform: scale(85%);
    transition: 2s;
}

/*css para el INVIEW*/
.slider--zoom {
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
}

.slider__image {
    width: 60%; /*para q la imagen no me abarque todo al ancho.*/
}

/*///CONTENDEDOR DE TITULO Y SUBTITULO///*/
.slider__content {
    flex: 1; /*valor de espacio de un elemento???*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px ;
    text-align: center;
}

.slider__title {
    text-align: center;
}

/*///////////////////
RESPONSIVE DE SLIDER
///////////////////*/

@media screen and (max-width: 800px) {
    .slider {
        flex-direction: column; /*cuando se achica pantalla, se transforma en columna*/
        background-color: rgb(236, 236, 236); 
    }

    .slider__image {
        width: 100%; /*y cuando se achica, la imagen pasa de 60 a 100% ancho*/
    }
}